.header{
    max-height: 3rem;
    
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .title-group a{
    padding-left: 1rem;
    display: flex;
    justify-content: flex-end;
} 

.logo{
    width: 140px;
}