.header{
    display: flex;
    align-items: center;
    max-height: 3rem;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 10rem;

}

.header .title-group a{
    padding-left: 1rem;
}